<div class="flex flex-row gap-6 w-full border-2 border-gray-300 bg-none px-6 py-2 rounded-xl grid grid-cols-12">
    <div class="flex flex-row items-center justify-start col-span-1">
        <input type="checkbox" class="size-lg">
    </div>

    <div class="flex flex-row gap-4 items-center justify-start col-span-4">
        <div class="bg-[url(../../public/assets/consultation-list-header.jpg)] bg-cover bg-center w-22 h-16 rounded-xl"></div>

        <div class="flex flex-col gap-2">
            <h2 class="text-lg md:text-xl font-bold"><%= consultation.title %></h2>
            <p class="text-sm md:text-md text-tertiary" id="id-card">#id-<%= consultation.id_consultation %></p>
        </div>
    </div>

    <div class="text-green-900 font-semibold col-span-1">
        <div class="flex flex-row bg-green-600/20 px-2 py-1 rounded-lg gap-2 items-center justify-center border-2 border-green-600/20">
            <div class="rounded-full min-w-3 min-h-3 bg-green-900"></div>
            <p class="whitespace-nowrap"><%= consultation.statut == 1 ? 'En cours' : consultation.statut == 0 ? 'À venir' : 'Terminée' %></p>
        </div>
    </div>

    <div class="flex flex-col flex-wrap gap-2 items-center justify-start col-span-2">
        <% if(consultation.etiquettes && consultation.etiquettes.length > 0) { %>
            <% consultation.etiquettes.forEach(tag => { %>
                <p class="text-sm md:text-md bg-blue-200 text-blue-900 px-4 py-2 rounded-full"><%= tag.nom %></p>
            <% }); %>
        <% } else { %>
            <p class="text-sm md:text-md text-tertiary">Aucune étiquette</p>
        <% } %>
    </div>

    <div class="col-span-2">
        <p class="text-sm md:text-md text-tertiary">Du 01/01/2024 au 31/01/2024</p>
    </div>

    <div class="flex flex-row gap-4 items-center justify-center col-span-2">
        <span class="material-symbols-outlined text-blue-600 cursor-pointer hover:text-blue-900 transition duration-300 border-2 border-gray-300 rounded-lg p-1">
            edit
        </span>

        <span class="material-symbols-outlined text-gray-600 cursor-pointer hover:text-gray-900 transition duration-300 border-2 border-gray-300 rounded-lg p-1">
            visibility
        </span>

        <span class="material-symbols-outlined text-red-600 cursor-pointer hover:text-red-900 transition duration-300 border-2 border-gray-300 rounded-lg p-1">
            delete
        </span>
    </div>


</div>