<%- include("../partials/header") %>

<main class="m-12 lg:mx-50 lg:mt-15 gap-8 flex flex-col">
    <div class="flex flex-col items-start justify-center h-full gap-12">
        <div class="flex flex-col items-start justify-center h-full gap-4">
            <div class="flex flex-col gap-2">
                <h1 class="text-xl md:text-4xl font-bold">Aide</h1>

                <div class="h-1.5 bg-secondary w-[50%]"></div>
            </div>
            <p class="text-md md:text-lg text-tertiary">Cette plateforme a été conçue pour permettre aux habitants de Paris de s’informer et de participer activement aux projets qui concernent leur commune. Vous pouvez consulter les projets proposés par les différents services municipaux, découvrir leurs objectifs, leur budget prévisionnel et les impacts attendus sur votre cadre de vie. Chaque consultation est ouverte pendant une période définie afin de permettre à chacun de prendre connaissance des informations avant de se prononcer.</p>
        </div>

        <div>
            <p class="text-2xl font-bold">Comment participer à une consultation ?</p>
            <div class="h-1 bg-secondary w-[10%] mb-4"></div>
            <p class="text-md md:text-lg text-tertiary">Pour participer, il vous suffit de créer un compte ou de vous connecter à votre espace personnel. Une fois connecté, vous pouvez consulter le détail des projets, voter pour exprimer votre opinion et partager vos suggestions avec les autres citoyens. Afin de garantir la fiabilité des résultats, chaque utilisateur ne peut voter qu'une seule fois par consultation. Les commentaires et suggestions publiés doivent respecter les règles de courtoisie et contribuer de manière constructive au débat.</p>
        </div>

        <div>
            <p class="text-2xl font-bold">Comment cela fonctionne ?</p>
            <div class="h-1 bg-secondary w-[30%] mb-10"></div>
            <div class="relative">
                <div class="h-[90%] bg-secondary w-2 absolute left-6.5 top-0 z-0"></div>

                <div class="flex flex-col gap-16">
                    <div class="flex gap-10">  
                        <div class="rounded-full min-w-15 min-h-14 bg-secondary flex items-center justify-center text-white text-2xl font-bold z-10">1</div>

                        <div>
                            <p class="text-2xl font-bold">Étape 1 : Consultation publiée</p>
                            <p class="text-md md:text-lg text-tertiary">La consultation est ouverte aux votes citoyens.</p>
                        </div>
                    </div>

                    <div class="flex gap-10">  
                        <div class="rounded-full min-w-15 min-h-14 bg-secondary flex items-center justify-center text-white text-2xl font-bold z-10">2</div>

                        <div>
                            <p class="text-2xl font-bold">Étape 2 : Mobilisation citoyenne</p>
                            <p class="text-md md:text-lg text-tertiary">Au moins 50 votes sont requis avant la fermeture de la consultation.</p>
                        </div>
                    </div>

                    <div class="flex gap-10">  
                        <div class="rounded-full min-w-15 min-h-14 bg-secondary flex items-center justify-center text-white text-2xl font-bold z-10">3</div>

                        <div>
                            <p class="text-2xl font-bold">Étape 3 : Examen municipal</p>
                            <p class="text-md md:text-lg text-tertiary">Plus de 50 % de votes favorables obtenus.</p>
                        </div>
                    </div>

                    <div class="flex gap-10">  
                        <div class="rounded-full min-w-15 min-h-14 bg-secondary flex items-center justify-center text-white text-2xl font-bold z-10">4</div>

                        <div>
                            <p class="text-2xl font-bold">Étape 4 : Décision du conseil</p>
                            <p class="text-md md:text-lg text-tertiary">La proposition est adoptée ou rejetée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p class="text-2xl font-bold">Transparence et suivi des projets</p>
            <div class="h-1 bg-secondary w-[10%] mb-4"></div>
            <p class="text-md md:text-lg text-tertiary">À l’issue de chaque consultation, les résultats sont rendus publics et restent consultables sur la plateforme. Lorsque la proposition recueille un soutien suffisant, la municipalité peut décider de sa mise en œuvre selon les modalités prévues. La ville s'engage à communiquer régulièrement sur l'avancement des projets retenus afin que chaque citoyen puisse suivre concrètement l'impact de sa participation. Votre implication contribue directement à faire évoluer Paris et à renforcer le dialogue entre les habitants et la collectivité.</p>
        </div>

    </div>
</main>

<%- include("../partials/footer") %>