<%- include ("../partials/header") %>

<main class="m-12 lg:mx-50 lg:mt-15 gap-8 flex flex-col md:flex-col">
    <div class="flex flex-col items-start justify-center h-full">
        <h1 class="text-xl md:text-4xl font-bold mb-4">Liste des consultations</h1>

        <div class="h-1.5 bg-secondary w-[10%] mb-4"></div>

        <p class="text-md md:text-lg text-tertiary">Découvrez les consultations en cours et exprimez votre avis sur les projets de votre commune.</p>
    </div>

    <div>
        <%- include("../partials/components/consultation-list") %>
    </div>
</main>

<%- include ("../partials/footer") %>