<!-- Footer -->
    <div class="h-full"></div>

    <footer class="bg-tertiary text-white p-4 md:p-6 w-full">
      <div class="flex flex-col md:flex-row justify-between items-center gap-4 md:gap-0">
        <div class="text-center md:text-left">
          <p class="text-sm md:text-base">© 2026 Ville de Paris</p>
          <p class="text-sm md:text-base">Tous droits réservés</p>
        </div>
      </div>
    </footer>

    <%- include("../partials/components/auth-modal") %>
  </body>

  <!-- Scripts -->
  <script src="../../public/js/main.js"></script>
</html>