<div
    class="flex items-center gap-2 px-4 py-1.5 rounded-full"
    style="background-color: #<%= etiquette.couleur %>40; color: #<%= etiquette.couleur %>;"
>
    <span class="material-symbols-outlined">
        <%= etiquette.icone %>
    </span>

    <span class="font-medium text-sm lg:text-md">
        <%= etiquette.nom %>
    </span>
</div>